<!DOCTYPE html>
<html>
    <head>
        <title>Django girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Niketan's Blog</a></h1>
        </div>

        <div>
            <p>published: 30.05.2017, 3:58</p>
            <h2><a href="">My first post</a></h2>
            <p>The DjangoGirls tutorial is awesomr. I am working through it. need some more practice.I have got some calls from angellist and I think I should practice a little more. </p>
        </div>

        <div>
            <p>published: 30.05.2017, 4:00</p>
            <h2><a href="">My second post</a></h2>
            <p>Iam trying to  make a blog application using django.I went through most of the concepts in python.This application will surely change my experience. Need a little more time.</p>
        </div>
    </body>
</html>